body{
    background-image: url('https://media.istockphoto.com/photos/low-poly-black-background-picture-id595734386?k=6&m=595734386&s=170667a&w=0&h=jXPrktpFGwhpHjnZWMKL4cmMPLbC4AHSQaEkCxKtXRw=');
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    height: 100%;
    text-align: center;
    font-family: 'Roboto',sans-serif;
}
.header{
    font-size: 50px;
}
.submit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.submit:hover{
    animation-name: sub;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
}
@keyframes sub{
from {background-color: #4CAF50;}
to {background-color: cadetblue;}
}
.rb{
    margin-top: -40px;
}